

<% layout("/layouts/boilerplate") %>

<body>
    
<div class="container-md offset-2">
        <div class="row">

            <div class="col-8 ">

                <h3>Create a new Listing</h3>   
            
                <form method="POST" action="/listings" novalidate class="needs-validation"  enctype="multipart/form-data">
                    
                    
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" id="tile" class="form-control" placeholder="Enter the title" required>
                    <div class="valid-feedback">
                        Title looks good!
                    </div>
                </div>
                
                
                    <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <textarea name="listing[description]" rows="5" cols="50"  class="form-control" id="Description" required placeholder="Enter the description here..."></textarea> </textarea>
                    <div class="invalid-feedback">
                    Please enter a short description
                    </div>   
            
                    
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Listing Image</label>
                        <input name="listing[image]" type="file" class="form-control" required>
                    </div>
                
                    <div class="mb-3">
                        <label for="location" class="form-label">location</label>
                        <input type="text" name="listing[location]" placeholder="Enter the location"  class="form-control" id="location" required>
                            <div class="invalid-feedback">
                                Location should be valid
                            </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label  for="price" class="form-label">price</label>
                            <input  name="listing[price]" placeholder="Enter the price"  class="form-control" id="price" type="number" required>
                            <div class="invalid-feedback">
                                Price should be valid
                            </div>
                        </div>
                        
                
                            
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">country</label>
                            <input type="text" name="listing[country]" placeholder="Enter the country"  class="form-control" id="country" required>
                            <div class="invalid-feedback">
                                Country should be valid
                            </div>
                        </div>

                    </div>
                    
                    <div class="mb-3 mt-3 " >
                        <label for="country" class="form-label">Select category of the listing</label> 
                        <select class="custom-select form-control"  name="listing[tag]" required>
                        
        
                        <option selected name="listing[tag]"></option>
                        <option value="trending">trending</option>
                        <option value="topcities">top cities</option>
                        <option value="artic">artic</option>
                        <option value="mountains">mountains</option>
                        <option value="countryside">countryside</option>
                        <option value="farms">farms</option>
                        <option value="beach">beach</option>
                        </select>
                    </div>
                
                    <button class="btn btn-success mt-3 mb-3" >Add</button>
                    <br>
                </form>
            </div>

        </div>
</div>
   
   
</body>
